* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}
.job-container {
  width: 100%;
  min-height: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  border: 5px solid #f6f8fc;
}
.top-header {
  width: 100%;
  min-height: 50px;
  display: flex;
  color: rgba(0, 0, 0, 0.732);
  font-weight: 700;
  align-items: center;
  background-color: #f0f0f0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
.top-header .logo {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 5px;
  background-color: #f3d156;
  margin-right: 10px;
}
.top-left {
  width: 20%;
  min-height: 50px;
  display: flex;
  align-items: center;
}
.navbar {
  width: 60%;
  min-height: 50px;
  display: flex;
  justify-content: center;
}
.nav-items {
  width: auto;
  min-height: 30px;
  display: flex;
  align-items: center;
  padding: 0px 12px 0px 12px;
}
.navbar :nth-child(1) {
  color: #ffa500;
  border-bottom: 2px solid #ffa500;
}
.top-right {
  width: 20%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.top-right img {
  padding: 0px 25px 0px 25px;
}
.bottom-header {
  width: 100%;
  min-height: 170px;
  display: flex;
  background-color: #f0f0f0;
}
.bottom-left {
  width: 50%;
  min-height: 170px;
  padding: 50px 0px 0px 50px;
  color: rgb(0, 0, 0);
}
.bottom-left p {
  color: rgba(0, 0, 0, 0.6);
}
.bottom-right {
  width: 50%;
  min-height: 170px;
}
.bottom-right img {
  width: 100%;
  height: 165px;
  padding-top: 2px;
}
.middle-LR-container {
  width: 100%;
  min-height: 600px;
  display: flex;
  background-color: #ffffff;
}
.middle-left {
  width: 30%;
  min-height: 500px;
  padding: 20px 0px 0px 45px;
  background-color: #eeeeec;
}
.catagory-container {
  width: 92%;
  min-height: 500px;
  margin-left: 20px;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
.filter {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  padding-left: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.filter span {
  color: palevioletred;
  padding-right: 20px;
}
.data-post {
  width: 93%;
  min-height: 100px;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px 0px 0px 20px;
}
.data-post button {
  width: 250px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
  margin-top: 10px;
}
.job-type {
  width: 93%;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0px 0px 20px;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.btn {
  width: 120px;
  height: 20px;
  font-weight: 700;
  font-size: 10px;
  display: flex;
  align-items: center;
}
h3 {
  font-size: 15px;
  font-weight: 900;
  width: 82%;
}
button {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: green;
}
.range-salary {
  width: 93%;
  min-height: 160px;
  font-weight: 700;
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0px 0px 20px;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.range-salary button {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: green;
}
.range-salary li {
  font-size: 30px;
  margin-left: 5px;
  margin-bottom: 1.5px;
}
.progress-bar {
  width: 300px;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}
.progress {
  width: 105px;
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
}
.progress button {
  width: 18px;
  height: 18px;
  margin: 0px 40px 0px 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.progress li {
  font-size: 20px;
  margin-top: 1px;
}
.bars {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.range-salary h6 {
  line-height: 10px;
  word-spacing: 8px;
}
h5 {
  font-size: 12px;
  word-spacing: 70px;
  margin-left: 8px;
}
.remote {
  width: 93%;
  min-height: 100px;
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0px 0px 20px;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.job-function {
  width: 93%;
  min-height: 100px;
  font-size: 2px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0px 0px 20px;
  color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.middle-right {
  width: 70%;
  min-height: 500px;
  display: flex;
  color: rgba(0, 0, 0, 0.6);
  flex-direction: column;
  padding: 20px 0px 0px 8px;
  background-color: #eeeeec;
}
.search-bar {
  width: 95%;
  height: 60px;
  display: flex;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.31);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
.search-box {
  width: 43%;
  min-height: 60px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.timezone {
  width: 67%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.left-timezone {
  width: 50%;
  height: 60px;
  display: flex;
  align-items: center;
}
.timezone img {
  width: 60px;
  height: 60px;
}
.right-timezone {
  width: 50%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.timezone button {
  width: 80px;
  height: 40px;
  padding: 5px 5px 5px 13px;
  background-color: green;
  color: #ffffff;
  border: none;
}
.identity-box {
  width: 95%;
  height: 160px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
.top-identity {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.img-box {
  width: 50px;
  height: 50px;
}
.img-box img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.degignation-box {
  width: 60%;
  height: 60px;
  margin-left: 10px;
}
.button {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.point {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
}
.top-identity button {
  width: auto;
  height: 20px;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  border: none;
}
.address-box {
  width: 42%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-right: 10px;
}
.address-box img {
  width: 40px;
  height: 30px;
}
.city {
  width: auto;
  height: 40px;
  display: flex;
  margin-right: 20px;
  align-items: center;
}
.address-box p {
  font-weight: 700;
  margin-right: 20px;
}
.bottom-identity {
  width: 100%;
  height: 80px;
}
.bottom-identity li {
  margin-left: 40px;
  line-height: 25px;
}
