* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-container {
  width: 80%;
  min-height: 740px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  background-color: #edf3fb;
  color: black;
  align-items: center;
}
.dashboard-top {
  width: 88%;
  height: 200px;
  display: flex;
  padding: 30px 0px 10px 55px;
  margin-top: 60px;

  background-color: #f8f9fc;
  flex-wrap: wrap;
}
.left-card {
  width: 250px;
  height: 150px;
  display: flex;
  margin: 10px 5px;
  font-size: 10px;
  background-color: #ffffff;
  font-weight: 500;
  flex-direction: column;
  box-shadow: burlywood;
  border: 0.5px solid rgba(0, 0, 0, 0.06);
}
.left-card p {
  font-size: 8px;
  font-weight: 500;
}
.left-card h4 {
  padding: 10px 0px 0px 50px;
}
.left-card span {
  font-size: 17px;
  color: #48b990;
  padding: 5px 0px 0px 46px;
}

.bottom-left-card {
  width: 235px;
  min-height: 50px;
  display: flex;
  margin-top: 35px;
  align-items: center;
  justify-content: center;
}
.text-box {
  width: 125px;
  height: 50px;
  display: flex;
  justify-content: center;
  padding-left: 5px;
  flex-direction: column;
}
.bottom-left-card button {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  height: 20px;
  font-size: 7px;
  border: none;
}
h3 {
  width: 150px;
  min-height: 20px;
  margin-right: -155px;
   margin-top: -20px; 
}
.bt-1 {
  background-color: rgba(255, 0, 0, 0.395);
  color: red;
}
.bt-2 {
  color: orangered;
  background-color: rgba(255, 68, 0, 0.466);
}
.bt-3 {
  color: blue;
  background-color: rgba(0, 0, 255, 0.498);
}
.bt-4 {
  color: lightseagreen;
  background-color: rgba(32, 178, 171, 0.484);
}
.active-box {
  width: 65%;
  min-height: 160px;
  display: flex;
  justify-content: center;
  }
.right-cards {
  width: 120px;
  height: 150px;
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid rgba(0, 0, 0, 0.06);
  margin: 11px 0px 0px 10px;
}
.flash-card {
  border-bottom: 5px solid red;
}
.active-box :nth-child(3) {
  border-bottom: 5px solid orangered;
}
.active-box :nth-child(4) {
  border-bottom: 5px solid blue;
}
.active-box :nth-child(5) {
  border-bottom: 5px solid lightseagreen;
}
.right-cards button {
  font-size: 8px;
  font-weight: 700;
  width: 65px;
  height: 20px;
  display: flex;
  align-items: center;
  margin: 5px 20px;
  padding: 5px 5px 5px 5px;
}
.right-cards i {
  padding-right: 5px;
}
.right-cards h5 {
  width: 100px;
  height: 40px;
  text-align: center;
}
.right-cards .btn {
  width: 80px;
  height: 30px;
  display: flex;
  border-radius: 20px;
  border: none;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  color: lightseagreen;
}
.middle-container {
  width: 88%;
  height: 450px;
  display: flex;
  background-color: #ffffff;
  padding-left: 56px;
}
.left-container {
  width: 37.5%;
  height: 380px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  border: 0.5px solid rgba(0, 0, 0, 0.06);
}
.middle-container h3 {
  width: 160px;
  padding: 15px 0px 0px 15px;
}
.left-container .button-box {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.left-container button {
  width: 120px;
  height: 20px;
  padding: 3px 3px;
  color: rgba(0, 0, 0, 0.768);
  font-size: 8px;
  font-weight: 900;
  display: flex;
  margin: 0px 7px 0px 7px;
  border: 0.5px solid rgba(0, 0, 0, 0.06);
}
.button-box i {
  margin: 2px 0px 0px 70px;
}
#max {
  width: 95px;
  min-height: 20px;
  color: lightseagreen;
  border: none;
}
.middle-left-box {
  width: 100%;
  min-height: 150px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}
img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}
.deductible {
  width: 100%;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deductible .color {
  width: 60%;
  height: 10px;
  border-radius: 10px 0px 0px 10px;
  background-color: #60b1fe;
}
.middle-container p {
  font-size: 15px;
  font-weight: 700;
}

.deductible .without-color {
  width: 29%;
  height: 10px;
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
  background-color: #edf3fb;
}
.deductible .col {
  width: 30%;
  background-color: #09b38c;
}
.deductible .w-col {
  width: 60%;
}
.total {
  width: 100%;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-container {
  width: 56%;
  height: 380px;
  display: flex;
  border: 1px solid;
  flex-direction: column;
  margin: 15px 0px 0px 20px;
  border: 0.5px solid rgba(0, 0, 0, 0.06);
}
.top-right-box {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.top-right-box button {
  height: 20px;
  display: flex;
  border: 0.5px solid rgba(0, 0, 0, 0.06);
}
.btn-box {
  height: 80px;
  width: 100%;
  display: flex;
}
.left-btn {
  width: 75%;
  height: 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.right-btn {
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
}
.right-btn button {
  width: 100px;
  height: 20px;
  font-size: 10px;
}
.left-btn button {
  font-size: 10px;
  width: 145px;
  height: 20px;
  text-align: justify;
  margin-left: 10px;
  padding-left: 5px;
}
span {
  font-size: 12px;
  font-weight: 900;
  color: #48b990;
  margin: 5px;
}
.btn-box i {
  margin-left: 0;
}
.border {
  width: 100%;
  min-height: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.line {
  height: 5px;
  width: 105px;
}
.border :nth-child(1) {
  background-color: #22a280;
}
.border :nth-child(2) {
  background-color: #537ed7;
}
.border :nth-child(3) {
  background-color: #5db1e6;
}
.border :nth-child(4) {
  background-color: #ecbe6a;
}
.transactions {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.transactions h6 {
  width: 150px;
  font-weight: 700;
  font-size: 8px;
  text-align: center;
}
.description {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9fb;
  border: 0.5px solid rgba(0, 0, 0, 0.06);
}
.description h6 {
  width: auto;
  font-size: 10px;
  text-align: center;
}
.description :nth-child(1) {
  padding-left: 32px;
}
.description :nth-child(2) {
  padding-left: 65px;
}
.description :nth-child(3) {
  margin-left: 5px;
}
.description :nth-child(4) {
  padding-right: 100px;
}
.visit-box {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid rgba(0, 0, 0, 0.06);
}
.visit-box i {
  padding: 0px 6px 0px 6px;
}
.visit-box h6 {
  font-size: 9px;
  width: auto;
}
.visit-box button {
  width: 50px;
  height: 20px;
  font-size: 9px;
  font-weight: 700;
  border: none;
  margin-left: 40px;
}
.counting-box {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.counting-box button {
  padding: 0px 5px 0px 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.06);
  margin: 15px 6px 0px 6px;
}
